.why-card {
  background: #222;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.why-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 20px rgba(255, 45, 85, 0.3);
  background: #292929;
}
